.profile__edit-button {
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    background-image: url(../../../images/Vector.svg);
    background-color: #000000;
    height: 24px;
    width: 24px;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 0 0 18px;
    transition-duration: .3s;
    transition-timing-function: ease;
    cursor: pointer;
}

.profile__edit-button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 720px) {
    .profile__edit-button {
        height: 18px;
        width: 18px; 
        margin: 0 0 0 10px;
    }    
}