.card__delete-button {
    position: absolute;
    color: #FFFFFF;
    background-image: url(../../../images/Trash.svg);
    height: 19.3px;
    width: 18px;
    background-size: cover;
    right: 15px;
    top: 15px;
    background-color: initial;
    border: 0;
    transition-timing-function: ease;
    transition-duration: .3s;
    cursor: pointer;
}

.card__delete-button:hover {
    opacity: 0.6;
}