.popup__input {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    margin: 0 0 30px;
    outline: none;
    padding: 0 0 13px;
    font-size: 14px;
    line-height: 17px;
    max-height: 14px;
}