.popup__container {
    max-width: 430px;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 34px 36px 37px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: relative;
    transition-duration: .3s;
    transition-timing-function: ease;
}

@media screen and (max-width: 720px) {
    .popup__container {
        margin: 0 19px;
        padding: 25px 22px;
    }    
}