.header {
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    padding: 45px 0 0;
    transition-duration: .3s;
    transition-timing-function: ease;
    display: flex;
    box-sizing: border-box;
}

@media screen and (max-width: 720px) {
    .header {
        padding: 28px 0 0;
    }    
}