.profile__name {
    margin: 0;
    max-width: 50vw;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 720px) {
    .profile__name {
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}