.card__like {
    transition-timing-function: ease;
    transition-duration: .3s;
    cursor: pointer;
    background-image: url(../../../images/LIKE.svg);
    background-size: cover;
    border: 0;
    width: 22px;
    height: 19px;
    background-color: initial;
}

.card__like:hover {
    opacity: 0.5;
}