.popup__title {
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 54px;
    max-height: 23px;
}

@media screen and (max-width: 720px) {
    .popup__title {
        font-size: 18px;
        line-height: 22px;
        margin: 0 0 75px;
    }    
}